.createBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 500px;
    top: 100px;
    width: 500px;
    height: 550px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
}

.listUserArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#noUserAFInform {
    align-self: center;
    font-style: italic;
}

#nameGroupInput, #searchInputMember, #searchInputAF {
    margin-bottom: 10px;
    width: 90%;
    font-size: 20px;
}

#closeAFBtn, #closeCreateGroupBtn, #acptCreateGroup, #closeViewMemberBtn, #closeWritter, #sendReportBtn {
    width: 40%;
    align-self: center;
}

#acptCreateGroup, #sendReportBtn {
    margin-bottom: 10px;
}

#listUserInfor {
    margin-left: 0px;
    padding-left: 5px
}

.userInforDiv {
    display: flex;
}

.userInforDiv p {
    flex: 1;
}

.userInforDiv:hover {
    background-color: #A9A9A9;
}

.addBtn {
    width: 20px;
    height: 20px;
    align-self: center;
}

.viewBio {
    align-self: center;
    margin-right: 10px;
    height: 50%;
}

.chatOption, .reportBtn {
    align-self: center;
    height: 50%;
}

#lbUploadImg {
    border-bottom: 1px solid black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    width: fit-content;
}

#lbUploadImg:hover {
    background-color: #A9A9A9;
}

#fileName {
    max-height: 200px;
    overflow: auto;
    overflow-y: scroll;
    height: fit-content;
    margin: 5px;
    display: flex;
}

.div-preview {
    position: relative;
    width: fit-content;
}

.remove-file-btn {
    position: absolute;
    top: 1px;
    right: 2px;
    z-index: 5;
    border-radius: 50%;
    cursor: pointer;
}

.viewMemberBtn {
    justify-self: right;
    padding-right: 15px;
    height: 30%;
    align-self: center;
}

#reportContentInput {
    flex: 1;
    resize: none;
    width: 100%;
    height: 90%;
    font-size: 18px;
    white-space: pre-line;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg);}
    50% { transform: rotate(180deg);}
    100% { transform: rotate(360deg); }
}

.loader {
    position: fixed;
    align-self: center;
    z-index: 10;
    top: 100px;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}