<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat App</title>
    <link rel="stylesheet" th:href="@{/styleHome.css}">
    <link rel="stylesheet" th:href="@{/styleModul.css}">

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
    <div class="app">
        <!--side bar-->
        <aside class="sidebar">
            <div id="searchForm" class="search-form">
                <div id="userInfor">
                    <div class="avatar" id="userIcon" th:data-user-name="${user.userName}"
                        th:data-first-char="${user.userName.toUpperCase().substring(0, 1)}">
                        <h2 th:text="${user.userName.toUpperCase().substring(0, 1)}" th:title="${user.userName}"></h2>
                    </div>
                    <div id="menu" class="drop-down">
                        <p th:text="${user.userName}"></p>
                        <button id="profileBtn" type="button">Thông tin người dùng</button>
                        <form method="post" th:action="@{/logout}">
                            <button type="submit">Đăng xuất</button>
                        </form>
                    </div>
                    <h3 id="reloadPageBtn">Chat App</h3>
                </div>

                <form id="searchFormInput">
                    <input type="text" placeholder="Tìm kiếm" id="searchInput">
                    <button id="closeSearchBtn">Đóng</button>
                </form>

                <button id="addFriendBtn">Tạo cuộc trò chuyện</button>
                <button id="createGroupBtn">Tạo nhóm</button>
            </div>
            <div class="line">
                <label></label>
            </div>
            <ul id="listRoom" class="list-room">
                <li class="room" th:each="room : ${rooms}" th:data-room-id="${room.roomId}"
                    th:data-room-name="${room.roomName}" th:data-room-type="${room.type}"
                    th:data-first-char="${room.roomName.toUpperCase().substring(0, 1)}"
                    th:data-is-read-last-message="${room.isReadLastMessage}">

                    <div class="avatar">
                        <h1 th:text="${room.roomName.toUpperCase().substring(0, 1)}"></h1>
                    </div>
                    <p th:text="${room.roomName}"></p>
                </li>
            </ul>
        </aside>

        <!--chat-->
        <main class="chat">
            <div class="chat-title" id="chatTitle">
                <div class="avatar">
                    <h1 id="chatTitleIcon"></h1>
                </div>
                <h2 id="chatTitleText"></h2>
            </div>

            <div class="messages" id="messageArea"></div>
            <div class="loader hide"></div>

            <form class="message-form" id="messageForm">
                <input type="file" id="fileInput" multiple hidden>
                <div id="optionFileDiv">
                    <label for="fileInput" id="lbUploadFile">Đính kèm file</label>
                    <button id="cancelSendFile">Hủy</button>
                    <button id="sendMessBtn" class="hide">Gửi</button>
                </div>

                <span id="fileName"></span>
                <textarea placeholder="Nhập tin nhắn..." id="messageInput"></textarea>
                <div id="hiddenDiv"></div>
                <button type="submit" hidden></button>
            </form>
        </main>

        <div class="hide welcome-page" id="welcomePage">
            <p>Chào mừng đến với Chat App</p>
        </div>

        <div class="user-profile" id="userProfile">
            <h3>Thông tin người dùng: </h3> <br>

            <div>
                <label>Tên đăng nhập: </label>
                <label id="userNameLb"></label>
            </div>
            <div>
                <label>Email: </label>
                <label id="emailLb"></label>
            </div>
            <div>
                <label>Địa chỉ: </label>
                <label id="addressLb"></label>
            </div>
            <div>
                <label>Giới thiệu: </label>
                <label id="bioLb"></label>
            </div>
            
            <button id="updateUserInfor">Cập nhật</button>
            <button id="closeUserProfileBtn">Đóng</button>
        </div>

        <div class="user-profile" id="editForm">
            <h3>Cập nhật thông tin người dùng </h3> <br>

            <div>
                <label>Tên đăng nhập: </label>
                <input type="text" id="userNameInput">
            </div>
            <div>
                <label>Địa chỉ: </label>
                <input type="text" id="addressInput">
            </div>
            <div>
                <label>Giới thiệu: </label>
                <input type="text" id="bioInput">
            </div>
            
            <button id="acptUpdate">Xác nhận</button>
            <button id="closeEditForm">Hủy</button>
        </div>


        <div class="user-profile" id="viewUserBio">
            <h3>Thông tin người dùng: </h3> <br>

            <div>
                <label>Tên đăng nhập: </label>
                <label id="lbName"></label>
            </div>
            <div>
                <label>Địa chỉ: </label>
                <label id="lbAddress"></label>
            </div>
            <div>
                <label>Giới thiệu: </label>
                <label id="lbBio"></label>
            </div>

            <button id="closeviewBioBtn">Đóng</button>
        </div>

        <div id="addFriendDiv" class="createBox">
            <p>Tạo cuộc trò chuyện</p>
            <form id="formAF" class="createForm">
                <input type="text" placeholder="Tìm kiếm" id="searchInputAF">
            </form>

            <div class="listUserArea">
                <ul id="listUserInfor">
                    <li class="userInforDiv">
                    </li>
                </ul>
            </div>

            <p>Có thể bạn quen:</p>
            <div class="listUserArea">
                <ul id="listRecommendUser">
                    <li class="userInforDiv">
                    </li>
                </ul>
            </div>
            <button id="closeAFBtn">Đóng</button>
        </div>

        <div id="addGroupDiv" class="createBox">
            <p>Tạo nhóm</p>
            <form id="formGroup" class="createForm">
                <input type="text" placeholder="Nhập tên nhóm" id="nameGroupInput">
                <input type="text" placeholder="Tìm kiếm" id="searchInputMember">
                <button type="submit" hidden></button>
            </form>
            
            <div class="listUserArea">
                <ul id="listUserInforToGroup">
                    <p id="noUserAFInform">Chưa có cuộc trò chuyện nào. Hãy bắt đầu ngay</p>
    
                    <li class="userInforDiv">
                    </li>
                </ul>
            </div>
            <button id="acptCreateGroup">Xác nhận</button>
            <button id="closeCreateGroupBtn">Đóng</button>
        </div>

        <div id="viewMemberDiv" class="createBox">
            <p>Thành viên nhóm</p>
            
            <div class="listUserArea">
                <ul id="listUserInforInGroup">
                    <li class="userInforDiv">
                    </li>
                </ul>
            </div>

            <button id="closeViewMemberBtn">Đóng</button>
        </div>

        <div id="reportWritter" class="hide">
            <p>Tạo báo cáo</p>
            <p id="reportedUserInfor"></p>
            <textarea id="reportContentInput" placeholder="Nhập nội dung báo cáo..."></textarea>
            <button id="sendReportBtn">Gửi</button>
            <button id="closeWritter">Đóng</button>
        </div>

    </div>

    <script th:src="@{/scriptChat.js}"></script>
    <script th:src="@{/scriptChatFunction.js}"></script>
    <script th:src="@{/scriptPaging.js}"></script>
    <script th:src="@{/scriptUpdateRoomName.js}"></script>
</body>

</html>