<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>chat app</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <div class="app">
            <!--side bar-->
            <aside class="sidebar">
                <div id="searchForm" class="search-form">
                    <div id="userInfor">
                        <div class="avatar" id="userIcon" th:data-user-name="${user.userName}">
                            <h2 th:text="${user.userName.toUpperCase().substring(0, 1)}" th:title="${user.userName}"></h2>
                        </div>
                        <div id="menu" class="drop-down">
                            <p th:text="${user.userName}"></p>
                            <button id="profileBtn" type="button">Profile</button>
                            <form method="post" th:action="@{/logout}">
                                <button type="submit">Log out</button>
                            </form>
                        </div>
                        <h3>Chat App</h3>
                    </div>

                    <form id="searchFormInput">
                        <input type="text" placeholder="Search" id="searchInput">
                    </form>
                </div>
                <div class="line">
                    <label></label>
                </div>
                <ul id="listRoom" name="listRoom" class="list-room">
                    <li class="room" 
                        th:each="room : ${rooms}" 
                        th:data-room-id="${room.roomId}"
                        th:data-room-name="${room.roomName}"
                        th:data-room-type="${room.type}"
                        th:data-first-char="${room.roomName.toUpperCase().substring(0, 1)}">

                        <div class="avatar">
                            <h1 th:text="${room.roomName.toUpperCase().substring(0, 1)}"></h1>
                        </div>
                        <p th:text="${room.roomName}"></p>
                    </li>
                </ul>
            </aside>

            <!--chat-->
            <main class="chat">
                <div class="chat-title" id="chatTitle">
                    <div class="avatar">
                        <h1 id="chatTitleIcon"></h1>
                    </div>
                    <h2 id="chatTitleText"></h2>
                </div>

                <div class="messages" id="messageArea"></div>
                
                <form class="message-form" id="messageForm">
                    <input type="text" placeholder="Message..." id="messageInput">
                </form>
            </main>

            <div class="hide welcome-page" id="welcomePage">
                <p>Welcome to our chat app</p>
            </div>

            <div class="user-profile" id="userProfile">
                <h3>User information: </h3> <br>

                <div>
                    <label>User name: </label>
                    <label th:text="${user.userName}"></label>
                </div>
                <div>
                    <label>Bio: </label>
                    <label th:text="${user.bio}"></label>
                </div>

                <button id="closeUserProfileBtn">Close</button>
            </div>
        </div>

        <script th:src="@{/script.js}"></script>
    </body>
</html>