<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>chat app</title>
    </head>
    <body>
        <form method="post">
            <label>Email: </label>
            <input type="text" name="email"> <br>
            <label>Mật khẩu: </label>
            <input type="password" name="password"> <br>
            <button>Gửi</button>
        </form>
        <button onclick="window.location.href='/signup'">Đăng ký</button>
        <p th:text="${message}"></p>
    </body>
</html>