<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản lý Chat App</title>
    <link rel="stylesheet" th:href="@{/styleManage.css}">

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="top-taskbar">
            <p id="goHomeBtn">Quản lý Chat App</p>
            <form id="searchForm">
                <input type="text" placeholder="Tìm kiếm theo tên" id="searchInput">
                <button type="button" id="closeSearch">Đóng</button>
            </form>

            <p th:text="${userName}"></p>
        </div>

        <div class="main-view">
            <div class="sidebar">
                <div class="optionDiv">
                    <p id="manageUserBtn">Quản lý người dùng</p>
                    <p id="manageReportBtn">Quản lý báo cáo</p>
                </div>

                <p id="logoutBtn">Đăng xuất</p>
            </div>

            <div class="main-view2">
                <div id="qtyUserDiv">
                    <p th:text="${qtyUserReport}"></p>
                </div>
                <div id="qtyReportDiv">
                    <p th:text="${qtyMonthReport}"></p>
                </div>

            </div>

        </div>
    </div>

    <script th:src="@{scriptManage.js}"></script>
</body>

</html>