.addFriendDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 500px;
    top: 100px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
}

.addFriendDiv input {
    width: 90%;
    font-size: 20px;
}

#listUserArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow: auto;
}

#closeAFBtn {
    width: 40%;
    align-self: center;
}

#listUserInfor {
    margin-left: 0px;
    padding-left: 5px
}

.userInforDiv {
    display: flex;

}

.userInforDiv p {
    flex: 1;
}

.userInforDiv:hover {
    background-color: #A9A9A9;
}

.viewBio {
    align-self: center;
    margin-right: 10px;
    height: 50%;
}

.chatOption {
    align-self: center;
    height: 50%;
}

#lbUploadImg {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    width: fit-content;
}

#lbUploadImg:hover {
    background-color: #A9A9A9;
}

#fileName {
    height: fit-content;
}